#root {
  max-width: 1200px;
  margin: 0 auto;
  /* text-align: center; */
}


.menu {
  display: flex;
  gap: 1rem;
}

.terminButton:disabled {
  background-color: gray;
}

input::placeholder {
  font-size: 0.8em;
}