@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Combo&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Metrophobic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=Rancho&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#root {
  font-family: Oxanium;
  margin: 0 auto;
  box-sizing: border-box;
  line-height: 1.4;
}

@theme {
  --color-orange: #F89000;
  --shadow-soft: 0 0 5px #000;
}

@layer utilities {
  .bg-dots { 
    background-image: url("/carbon_fibre.webp");  
    background-size: 12px 12px; 
    /* border-radius: 20px;  */
    box-shadow: 0 0 5px rgb(78, 78, 78); 
  } 
  
  .bg-whitedots { background-image: url("/bgnoise_lg.png"); }
}


@layer components {
  .h1 {
    @apply text-5xl font-medium;
  }

  .blackcard {
    @apply flex flex-col m-auto bg-repeat text-white rounded-3xl  ;
  }

  .btn {
    @apply uppercase rounded-lg p-2 w-40 text-nowrap 
  }

  .btn2 {
    @apply flex justify-center items-center uppercase rounded-lg p-3 w-40 text-nowrap shadow-soft 
  }
  .orangeBlock {
    @apply flex flex-col items-center gap-5 justify-center text-black rounded-3xl p-8 bg-orange text-[22px] font-medium shadow-soft text-center
  }

  .blackBlock {
    @apply flex  items-center gap-5 justify-center text-white rounded-3xl p-8 text-[22px] font-medium shadow-soft  
  }

  .grayBlock {
    @apply flex  items-center gap-5 justify-center text-black rounded-3xl p-8 text-[22px] font-medium shadow-soft  
  }

  .jobsBlock {
    @apply flex flex-col gap-5 rounded-3xl p-8 font-medium shadow-soft 
  }

  .financierungBlock {
    @apply flex flex-col gap-5 rounded-3xl p-8 font-medium shadow-soft 
  }


  .h2 {
    @apply text-[44px] font-medium mt-[50px]
  }
}

@layer base {
  input {
    @apply rounded-lg border p-2 bg-white mb-2 text-black;  /* или rounded-[1rem], если нужен кастомный размер */
  }
}

body {
  /* background-color: rgb(215, 215, 215); */
  background-image: url("/gray_jean.png");
  background-repeat: repeat;
}

.wrapper {
  display: grid;
  margin: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(179, 179, 179);
}

.test {
  background-color: rgb(255, 0, 132);
}

header {
  /* background-color: green; */
  /* border: 1px solid lightgray; */
}

.menu {
  /* background-color: aqua; */
}

.terminButton:disabled {
  background-color: gray;
}

input::placeholder {
  font-size: 0.8em;
}