@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "Oxanium";
  src: url("/fonts/Oxanium-VariableFont_wght.woff2") format("woff2-variations");
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}

#root {
  font-family: Oxanium;
  margin: 0 auto;
  box-sizing: border-box;
  line-height: 1.4;
}



button {
  font-family: Oxanium;
}

html {
  scroll-behavior: smooth;
  /* color: #8a8a8a; */
}

details[open] .closed-icon, .hidden {
  display: none;
}
details[open] .open-icon {
  display: inline;
}

@theme {
  --color-orange: #F89000;
  /* --orange-600: #DA7F01; */
  --shadow-soft: 0 0 5px #000;
  --shadow-leicht: 0 0 5px #8a8a8a;
  --shadow-orange: 0 0 5px #F89000;
}

@layer utilities {
  .bg-dots { 
    background-image: url("/carbon_fibre.webp");  
    background-size: 12px 12px; 
    /* box-shadow: 0 0 5px rgb(78, 78, 78);  */
  } 

   .bg-whitedots { background-image: url("/bgnoise_lg.png"); }

  .btn:hover {
    @apply bg-orange-600;
  }

  .bleed-x {
    margin-left:  calc(var(--pad-x, 0px) * -1);
    margin-right: calc(var(--pad-x, 0px) * -1);
    box-sizing: border-box; /* чтобы бордер/паддинг не раздували ширину */
  }
}


@layer components {

  .section {
    @apply my-12;
  }

  .h1 {
    @apply text-3xl font-medium;
  }

  .h2 {
    @apply text-3xl font-medium mb-2;
  }

  .h3 {
    @apply text-xl font-medium;
  }

  .headerLogo {
    @apply relative top-2 col-span-1 w-[120px];
  }

  .headerIconsBlock {
    @apply col-span-1 flex items-center gap-2
  }

  .headerIcon {
    @apply flex justify-center items-center text-white rounded-sm bg-orange cursor-pointer h-[44px] w-[44px] p-1
      hover:bg-black hover:scale-105 transition duration-400 ease-in-out shadow-leicht;
  }

  .sliderToggler {
    @apply bg-orange px-4 py-2 rounded-xl my-0 text-xl font-bold cursor-pointer  hover:bg-orange-600 transition duration-300 ease-in-out
  }

  .sliderToggler:disabled {
    @apply bg-gray-300 text-gray-500 cursor-default;
  }

  .blackcard {
    @apply flex flex-col m-auto bg-repeat text-white rounded-3xl;
  }

  .btn {
    @apply flex justify-center items-center uppercase rounded-lg px-3 py-3 text-nowrap shadow-soft cursor-pointer;
  }

  .orangeBlock {
    @apply flex items-center justify-start gap-5 text-black rounded-3xl p-4 bg-orange text-xl font-medium shadow-soft text-center
  }
  
  .blackBlock {
    @apply flex  items-center gap-5 justify-start text-white rounded-3xl p-4 text-xl font-medium shadow-soft  
  }

  .grayBlock {
    @apply flex  items-center gap-5 justify-center text-black rounded-3xl p-8 text-[22px] font-medium shadow-soft  
  }

  .jobsBlock {
    @apply flex flex-col gap-5 rounded-3xl p-8 font-medium shadow-soft 
  }

  .financierungBlock {
    @apply flex flex-col gap-5 rounded-3xl p-8 font-medium shadow-soft 
  }

  .details {
    @apply border-y text-xl
  }

  .summary {
    @apply flex items-center px-8 py-2 text-xl justify-between cursor-pointer
  }

}

@layer base {
  input {
    @apply rounded-lg border p-2 bg-white mb-2 text-black;  /* или rounded-[1rem], если нужен кастомный размер */
  }

  header {
    @apply grid grid-cols-6 h-[100px];
  }

  nav {
    @apply col-span-4 flex justify-evenly items-center font-medium whitespace-nowrap text-2xl gap-4 
  }

  footer {
    @apply text-white px-10 py-5 text-lg flex flex-col gap-4;
  }

}

body {
  /* background-color: rgb(215, 215, 215); */
  background-image: url("/gray_jean.png");
  background-repeat: repeat;
}

.wrapper {
  display: grid;
  margin: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(179, 179, 179);
}

.test {
  background-color: rgb(255, 0, 132);
}

header {
  /* background-color: green; */
  /* border: 1px solid lightgray; */
}

nav a:hover {
  /* background-color: aqua; */
  color: var(--color-orange);
  transition: 0.3s ease;
}

.terminButton:disabled {
  background-color: gray;
}

 